.card {
    height: auto;
    width: 20vw;
    display: flex;
    flex-direction: column;
    border-radius: 20px;

}

.card1 {
    height: 32vh;
    width: 20vw;
    border-radius: 20px 20px 0 0;

}

.card1 img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.card2 {
    height: 18vh;
    width: 100%;
    background-color: rgb(203, 201, 201);
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.card2 p {
    font-size: 1vw;
    line-height: 0.9rem;
    font-weight: bold;
}

.card2 p:nth-child(1) {
    cursor: pointer;

}
.card2 p:nth-child(2) {
    color: green;
    font-size: 2vw;

}

.card2 button {
    width: 12vw;
    border-radius: 10px;
    height: 5vh;
    background-color: rgb(20, 28, 191);
    color: white;
    font-weight: 5vw;
    box-shadow: 0 3px 7px rgb(61, 61, 61);
    position: relative;
    top: -1vh;
}

@media (max-width:600px) {
    .card {
        width: 38.5vw;
        height: 38vh;
    }

    .card1 {
        width: 38.5vw;
        height: 23vh;
    }

    .card2 {
        width: 38.5vw;
        height: 15vh;

    }

    .card2 p {
        font-size: 2vw;
        line-height: 0.5rem;
    }
    .card2 p:nth-child(2) {
        color: green;
        font-size: 5vw;

    }

    .card2 button {
        width: 28vw;
        height: 3vh;
        font-size: 3vw;
    }
}