.cards{
    display: flex;
    gap: 1.4rem;
    overflow-x: auto;
    scrollbar-width: none;
    height: 50vh;
    padding-left: 1rem;
    padding-right: 1rem;
    
}
@media (max-width:600px) {
    .cards{
        gap:0.8rem;
        height: 38vh;
    }
    
    
}