.main{
  width: 100%;
  height: 508vh;
  display: flex;
  flex-wrap: wrap;
  background:rgb(233, 231, 231) ;
  justify-content: center;
  align-items: center;
}
html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container{
    height: 70vh;
    width: 90vw;
    background-color: white;
    border-radius: 25px 25px 0 0;
    position: absolute;
    top: 5vh;
    
}
.menuContainer {
  position: relative;
  z-index: 2000;
}

.hamburgerBtn {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 50;
  font-size: 2rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  cursor: pointer;
}

.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 40;
}

.sideMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 16rem;
  background-color: white;
  box-shadow: 2px 0 6px rgba(0,0,0,0.2);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 50;
  display: flex;
  flex-direction: column;
}

.sideMenuOpen {
  transform: translateX(0);
}

.menuHeader {
  padding: 1rem;
  border-bottom: 1px solid #e5e5e5;
}

.menuHeader h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.menuLinks {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.menuLinks a {
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: black;
  transition: background-color 0.2s;
}

.menuLinks a:hover {
  background-color: #f3f3f3;
}

.logo{
   height: 15vh;
   width: 100%;
   display: flex;
   gap: 30vw;
   
}
.logo1{
    position: relative;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    gap: 0.8rem;
    top: 1vh;
}
.logo1 img{
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
}
.logo h2{
    font-weight: bold;
    color: rgb(42, 172, 42);
}
.logo2{
    height: 100%;
    width: 30vw;
    position: relative;
    top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo2 input{
    width: 18vw;
    height: 28%;
    border-radius: 0.5rem;
    background-color: rgb(233, 231, 231);
    border-color:rgb(233, 231, 231) ;
}

.user{
    position: relative;
    right: 2vw;
    
}
.cart{
    height: 1.5em;
    width: 1.5em;
    position: relative;
    top: -1.5vh;
    display:flex ;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: red;
}
.sale{
    width: 90vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sale img{
    width: 95%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 7px  rgb(82, 81, 81);
}
.categoriy{
    display: flex;
    height: 15vh;
    width: 90vw;
    align-items: center;
}
.categoriy h3{
    font-size: 1.5vw;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
}
.virtical{
    width: 3px;
    height: 6vh;
    background-color:rgb(233, 231, 231) ;
}
.categoriy1{
    display: flex;
    gap: 4rem;
    height: 5vh;
    overflow-x: auto;
    scrollbar-width: none;
}
.categoriy1 h3{
    font-weight: 400;
    color: rgb(93, 92, 92);
    cursor: pointer;
    display: flex;
    gap: 0.3rem;
    align-items: center;

}
.categoriy1 h3:hover{
    color: rgb(18, 18, 18);
    text-decoration: underline;
}
.arrival{
    width: 90vw;
    height: 190vh;
    background-color:rgb(217, 216, 216)  ;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75vh;
    gap: 2rem;
    border-radius: 0 0 50px 50px;
    overflow-x: hidden;
    justify-content: center;
}
.h2{
    width: 90vw;
    display: flex;
    justify-content: center;
}
.arrival h2{
    padding: 2rem;
    height: 5vh;
    color: rgb(2, 9, 63);
    position: relative;
    font-size: 2.5vw;
}

.trending{
    height: 230vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(249, 249, 252);
    top: 272vh;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}
.trending h2{
    position: relative;
    top: -10vh;
    font-size: 3vw;
    color: rgb(5, 5, 77);
}
.trending1{
    height: 165vh;
    width: 80vw;
    background-color:rgb(233, 231, 231) ;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    top: 5vh;
}
.trending2{
    display: none;
}


.addeditem{
    position: fixed;
    top: 10vh;
    left: 70vw;
    z-index: 2000;
    height: 5vh;
    width: 20vw;
    border-radius: 10px;
    background-color: rgb(5, 195, 5);
    padding-left: 4rem;
    box-shadow: 0 4px 7px rgb(74, 74, 74);
}
.footer{
    position: absolute;
    top: 500vh;
}
@media (max-width:600px) {
    .main{
        background:rgb(214, 214, 215);
        height: 479.5vh;
    }
    .container{
        height:auto;
        display: flex;
        flex-direction: column;
        gap: 1.5vh;
    }
    .sale{
        height: 15vh;
    }
    .logo{
        flex-direction: column;
        gap: 0.5vh;
        height: auto;
        align-items: center;
        width: 90vw;
    }
    .logo2{
        width: 70vw;
        
    }
    .logo2 input{
        width: 60vw;
    }
    .user{
        right: 7vw;
    }
    .shopping {
  width: 5vw ;
  height: 5vh ;
}
.cart{
    height: 1rem;
    width: 1rem;
}
.cart span{
    font-size: 3vw;
}
.categoriy {
    height: 8vh;
}
.categoriy1{
    height: 8vh;
    gap: 2rem;
}
.categoriy h3{
    font-size: 4vw;
    padding-left: 5vw;
}
.virtical{
    width: 3vw;
    height: 5vh;
    background-color:rgb(196, 195, 195) ;
}
.categoriy1 h3{
    font-size: 3vw;
    width: 40vw;
}
.arrival{
    top: 46.3vh;
    height: auto;
    background-color: rgb(197, 196, 196);
}
.arrival h2{
    font-size: 6vw;
    
}
.trending{
    height: 285vh;
    top: 190vh;
}
.trending h2{
    font-size: 6vw;
    top: -6vh;
}
.trending1{
    display: none;
}
.trending2{
    display: block;
    height: 250vh;
    width: 80vw;
    background-color:rgb(233, 231, 231) ;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    top: 2vh;
}
.addeditem{
    width: 50vw;
    height: 4vh;
    left: 10vw;
   padding-left: 0;
   padding-top:0.5rem ;
   display: flex;
   justify-content: center;
   align-items: center; 
}
.addeditem h3{
    font-size: 5vw;
}
.flashdeal{
    height: 18vh;
    width: 90vw;
    top:87vh;
   
}
.flashdeal :nth-child(3){
    display: none;
}
.flashdeal p{
   font-size: 2.5vw;
   line-height: 0.8rem;
   padding-left: 0.5rem;
}
.flashdeal h2{
    font-size: 5vw;
}
.flashdeal h3{
    color: rgb(0, 0, 255);
    cursor: pointer;
    font-size: 4vw;
    transition: transform 0.5s ease;
}
.arrow{
    top: 500vh;
    font-size: 10vw;
    color: rgb(65, 65, 65);
    left: 8vw;
}
.hamburgerBtn{
    position: static;
    width: 10%;
    font-size: 0.9rem;
}
.footer{
    top: 470vh;
}
    
}