.trendcard{
    height: 40vh;
    width: 20vw;
    border-radius: 15px;
    box-shadow: 0 4px 7px rgb(178, 178, 178);
    transition: transform 0.5s ease;
    position: relative;
    display: flex;
    flex-direction: column;
}
.trendcard:hover{
    transform: scale(1.1);
    z-index: 1000;
    
}
.trendcard1{
   height: 25vh;
   width: 20vw;
   border-radius: 15px 15px 0 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
.trendcard1 img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply;
}
.trendcard2{
    height: 15vh;
    width: 20vw;
    background-color: rgb(37, 250, 250);
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.trendcard2 p:nth-child(1) {
    font-size: 0.9vw;
    line-height: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    overflow-y:auto;
    scrollbar-width: none;
}
.trendcard2 p:nth-child(2){
    font-size: 0.9vw;
    line-height: 0.9rem;
    font-weight: bold;
}
.trendcard2 button{
    width: 11vw;
    border-radius: 10px;
    height: 5vh;
    background-color:rgb(20, 28, 191);
    color: white;
    font-weight: 600;
    box-shadow: 0 3px 7px rgb(61, 61, 61);
    position: relative;
    top: -1vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:600px) {
    .trendcard{
        width: 41vw;
    }
    .trendcard1{
        width: 41vw;
    }
    .trendcard2{
        width: 100%;
    }
    .trendcard2 p:nth-child(1){
        font-size: 2vw;
        line-height: 0.5rem;
    }

    .trendcard2 p:nth-child(2) {
        color: green;
        font-size: 5vw;

    }
    .trendcard2 button {
        width: 34vw;
        height: 3vh;
        font-size: 4vw;
    }
}